@CHARSET "UTF-8";
body {
	background-image: url("../images/darkness.jpg"); 
	margin: 0px;
	padding: 0px; font-size: 1em;
	line-height: 1.2em; 
	text-align: center;
}
#wrap{
	width: 971px; text-align: left;
	margin: 0;margin-right: auto;margin-left: auto;
	min-height: 780px;
	background-color : #0A0404;
	background-repeat: repeat-y;
}/*너비 : 971px 글자정렬 left 밖여백 0 
밖오른쪽여백 auto 밖왼쪽여백 auto  최소높이 780px
배경이미지 shadow.png 배경이미지반복 y*/
#login{float: right;margin: 20px 64px 0 0;
font-family: Arial,Helvetica,sans-serif;
font-size: 15px;word-spacing: 5px}
/*정렬 오른쪽 밖여백 20 64 0 0  
글자체 Arial,Helvetica,sans-serif 크기 12px 
단어간격 5px*/
#login a{text-decoration: none; color: black;}
/* 하이퍼링크 밑줄 없음 글자색 #333*/
#login a:hover{color: #F90}
/* 하이퍼링크 hover 글자색 #F90*/
.clear{clear: both;}/*영역구분*/
#logo{float: left;width: 265px; margin: -60px 0 0 50px}
/*정렬 왼쪽 너비 265px 밖여백 60px 0 0 40px*/
header{height: 100px;margin: 10px;padding: 0px}
nav#top_menu{width: 1100px; margin: 30px 0 0 0;
float: right; letter-spacing: 10px}
/*너비 600px 밖여백 50px 20px 0 0 정렬 오른쪽*/
nav#top_menu ul{list-style:none;
font-family: verdana,Geneba,sans-serif;
font-size: 13px;font-weight: 100;color: #333}
/*스타일없음 글자체 verdana,Geneba,sans-serif 
글자크기 13px 글자굵기 100 글자색 #333*/
nav#top_menu li{float: left;margin: 0 5px;}
/*정렬 왼쪽 밖여잭 0 5px*/
nav#top_menu a{display: inline; height: 20px;
padding: 20px; text-decoration: none;color: black;}

nav#top_menu a:hover{
	color: #d6671d;
	background-repeat: repeat-x;
	background-position: bottom;}
/*배경이미지 blue.gif 배경반복 x 배경위치 아래*/

/*footer부분*/
/*글자체 seo*/
@font-face{font-family: "seo";
src: url("../images/segoeui.eot");
src: local(""),
     url("../images/segoeui.woff")format("woff"),
     url("../images/segoeui.ttf")format("truetype");}
footer{margin: 120px 0 0 0; height: 80px;
background-repeat: no-repeat;
background-position: 40px center;}
/*밖여백 50px 0 0 0 높이 80px 배경이미지under_logo.gif
배경반복 no-repeat 위치 40px center*/
footer #copy{font-family: seo; width: 450px;
margin: 20px 0 0 190px; color: black;
}
/*글자체 seo 너비 450px 밖여백 20px 0 0  190px 정렬 left*/
footer #copy{font-family: seo; width: 450px;
margin: 20px auto;}
/*너비 130px 밖여백 20px 20px 0 0
정렬 오른쪽*/
footer #social img{margin: 0 7px}/*밖여백 0 7px*/

.bd {
  margin: 30px auto;
  // display: flex;
  justify-content: center;
  align-items: center;
}

.bd table{
	margin: 0px auto;
	width: 700px;
}



